<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <script type="text/javascript" src="static/d3.v5.min.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/moment.min.js"></script>
    <script type="text/javascript" src="static/download.min.js"></script>
    <script type="text/javascript" src="static/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/daterangepicker.css" />
    <script type="text/javascript" src="static/uptime.js" defer></script>
  </head>
  <body>
    <div id="chart"></div>
  </body>
</html>
